:root {
  --primary: #FFE7C4;
  --primary-dark: #A9600A;
  --yellow: #ffbf5e;
  --gray: #1E1F22;

  --font-family: "Arial-Regular", sans-serif;
  --section-padding: clamp(45px, 7vw, 100px) 0;
  --heading-color: #ffffff;
}
